.home-hero {
    background-image: radial-gradient(circle at left bottom, white, whitesmoke, ghostwhite, lightgray);
}
.home-button {
    border-color: var(--bs-indigo);
    border-radius: .5rem;
    font-weight: 600;
    font-size: calc(var(--bs-body-font-size) + 0.3rem);
    background-image: linear-gradient(45deg, var(--bs-indigo), var(--bs-primary));
}

.home-button:hover {
    background-image: linear-gradient(45deg, #5b10d6, #0c5ed6);
    border-radius: .55rem;
}

.home-button-secondary {
    border-color: var(--bs-gray-300);
    border-radius: .5rem;
    font-weight: 600;
    font-size: calc(var(--bs-body-font-size) + 0.3rem);
    color: var(--bs-indigo);
    background-image: linear-gradient(45deg, var(--bs-gray-200), var(--bs-gray-300), var(--bs-gray-400));
}

.home-button-secondary:hover {
    border-color: var(--bs-gray-300);
    background-image: linear-gradient(45deg, var(--bs-gray-300), var(--bs-gray-400));
    color: #7933ed;
    border-radius: .55rem;
}
